<% include ../partials/header %>
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Learn new skills and participate in different college programs and show
        your talent</div>
      <div class="intro-heading text-uppercase">Welcome to world of Oppurtunities</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Join hands</a>
    </div>
  </div>
</header>
<div>
  <h1>This is the page for the people to interact</h1>
  <p>A common platform for everone where one can share books and submits all the things that are necessary for any of
    the person and this could be done in any means i mean in any means and you are very welocme to show your support
    and add much more to it and doing things will increase this site and this could be much more fitial for everone in
    this group</p>
</div>
<% include ../partials/footer %>